.rarity_container {
  color: #0e0d0c;
}

.rarity_list li {
  font-size: 20px;
  line-height: 208.5%;
  margin: 10px;
}
.rarity_heading h2 {
  font-weight: 700;
}
.team_para h2 {
  font-weight: 750;
}
@media screen and (max-width: 700px) {
  .rarity_para {
    margin-left: 12%;
    margin-right: 12%;
    font-size: 16px;
    line-height: 20px;
  }
}
