.background__Img {
  /* background: linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 1)),
    url('./Assets/backGround.jpg');

  min-height: 100vh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover; */
  width: 100vw;
  height: 150vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

@media (max-width: 576px) {
  .background__Img {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 1)),
      url('./Assets/hh.jpg');
  
    min-height: 100vh;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
   
  }
}